<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Connect with Me</h5>
                <ul class="list-unstyled">
                    <li>Email: <a href="mailto:your.email@example.com">your.email@example.com</a></li>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/your-profile">LinkedIn Profile</a></li>
                    <li>GitHub: <a href="https://github.com/your-username">GitHub Profile</a></li>
                    <li>Twitter: <a href="https://twitter.com/your-twitter">Twitter Profile</a></li>
                </ul>
            </div>
        <div class="text-center mt-3">
            &copy; 2023 Your Name. All rights reserved.
        </div>
    </div>
</footer>
