<div class="container mt-5">
    <h1 class="display-4">About Me</h1>
    <p class="lead">I am a creative soul passionate about turning ideas into elegant and functional solutions. My journey in the world of coding began with a desire to create and innovate, and I'm excited to share my skills and experiences with you.</p>
    <p>My expertise includes:</p>
    <ul>
        <li>Front-end development with HTML, CSS, and JavaScript</li>
        <li>Back-end development using Node.js and Express</li>
        <li>Responsive web design and UI/UX development</li>
    </ul>
</div>
